html{
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://i.imgur.com/udu4V57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 40px;
    justify-content: center;
    border: solid 2px #8591c8;
}
h2, h1{
    color: #2beaccfd;
    text-align: center;
    background-color: black;
    padding: 10px;
}
p{
    color: #8591c8;
    text-align: justify;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}
div{
    border: solid 3px orangered;
    border-radius: 50px;
    background-color: #383838;
    padding: 10px;
    gap: 0;
}
#logo{
    display: flex;
    flex-grow: 0;
    align-items: center;
    font-size: 200%;
    color: #383838;
    padding: 15px;
    margin: 3px;
    background-color: #2beaccfd;
    border: solid orangered 2px;
    border-radius: 40px;
}
#program{
    color: purple;
}
#alertEmoji{
    color: #8591c8;
}
#leftSection{
    border-radius: 50px 5px 5px 50px;
}
#rightSection{
    border-radius: 5px 50px 50px 5px;
}
.rightLeftDiv{
    display: flex;
    flex-wrap: nowrap;
    background-color: #383838;
    padding: 0;
}
.sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: #8591c8;
    border: solid 5px #8591c8;
    padding: 0;
    gap: 15px;
}
.section{
    color: purple;
    background-color: black;
    border-radius: 5px;
    margin: 0;
    padding: 30px;
}
.withP{
    border-radius: 50px 50px 0 0;
    margin-bottom: 0;
    border-bottom: solid 2px purple;
}
.whitH1{
    background-color: #1c1c1c;
    color: #8591c8;
    border-radius: 0 0 40px 40px;
    margin-top: 0;
    padding: 15px;
}
.leftheadline{
    background-color: #1c1c1c;
    border-radius: 80px 0 0 80px;
    padding: 25px;
    margin: 20px;
    margin-right: 0;
}
.rightP{
    flex-basis: 1fr;
    padding: 25px;
    margin: 20px;
    margin-left: 0;
    border-radius: 0 50px 50px 0;
}
.notasDeActualización{
    font-family: monospace;
}