html{
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://i.imgur.com/udu4V57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 40px;
    justify-content: center;
    border: solid 2px #8591c8;
}
h2, h1{
    color: #2beaccfd;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
p{
    color: #8591c8;
    text-align: justify;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}
div{
    border: solid 3px orangered;
    border-radius: 50px;
    background-color: black;
    padding: 10px;
    gap: 0;
}
ul{
    list-style-position: inside;
}
#logo{
    display: flex;
    flex-grow: 0;
    align-items: center;
    font-size: 200%;
    color: #383838;
    padding: 15px;
    margin: 3px;
    background-color: #2beaccfd;
    border: solid orangered 2px;
    border-radius: 40px;
}
#program{
    color: purple;
}
#alertEmoji{
    color: #8591c8;
}
.title{
    color: orangered;
    background: none;
    border: none;
    padding: 10px;
    margin: 10px 40px 5px;
}
#leftSection{
    border-radius: 50px 5px 5px 50px;
}
#rightSection{
    border-radius: 5px 50px 50px 5px;
}
#blogContent{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
    border: 3px solid #8591c8;
    background-color: black;
}
.post{
    background-color: #1c1c1c;
    color: orangered;
    border: solid 8px purple;
    border-radius: 30px;
    padding: 2%;
}
.rightLeftDiv{
    display: flex;
    flex-wrap: nowrap;
    background-color: #383838;
    padding: 0;
}
.sections{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    background-color: #8591c8;
    border: solid 5px #8591c8;
    padding: 0;
    gap: 15px;
}
.section{
    font-size: 125%;
    background-color: black;
    border-radius: 5px;
    margin: 0;
    padding: 20px;
}
.proyects{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding: 10px;
    border-color: purple;
    border-radius: 30px;
    margin: 1%;
}
.proyect{
    border: solid 5px #2beaccfd;
    margin: 8px;
    padding: 25px;
    color: orangered;
    background-color: #080808;
}
.withP{
    border-radius: 50px 50px 0 0;
    margin-bottom: 0;
    border: solid 5px #383838;
    border-bottom-width: 3px;
}
.wihtH1{
    background-color: #1c1c1c;
    color: #8591c8;
    border-radius: 0 0 40px 40px;
    border: solid 4px purple;
    border-top: none;
    margin-top: 0;
    padding: 10px;
}
.leftheadline{
    display: flex;
    align-items: center;
    flex-basis: 3fr;
    background-color: #1c1c1c;
    border-radius: 80px 0 0 80px;
    padding: 15px;
    margin: 8px;
    margin-right: 0;
}
.rightP{
    flex-basis: 1fr;
    padding: 12px;
    margin: 8px;
    margin-left: 0;
    border-radius: 0 50px 50px 0;
}
.notasDeActualización{
    font-family: monospace;
    font-size: large;
    border-top-color: #383838;
    padding: 15px;
}